{% load static %}

        <div>
            <div class="main_title">
                <h1 class="cover-heading">Извлекаем выгоду из хаоса</h1>
                <p class="lead main_banner">Отечественная платформа интеллектуальной аналитики</p>
                <p class="lead main_banner">
                    <a href="#" class="btn btn-lg btn-main">Узнайте больше</a>
                </p>
            </div>

            <img src="{% static 'img/banner_lp_01.png' %}"
                 class="main_img"
                 alt="">

            <div>
                <div></div>
                <div>
                    <h3>Что мы делаем?</h3>
                    <p></p>
                </div>
            </div>
        </div>

