{% load static %}

                <nav class="navbar navbar-expand navbar-dark navbar-main bg-dark">
                    <a href="https://dilibrium.ru/" style="margin-right: 0.5%" target="_blank">
                        <img src="{% static '/img/logo_light.png' %}"
                             width="33px"
                             height="33px">
                    </a>

                    <a class="navbar-brand" href="#">Business Intelligence</a>

                    <div class="collapse navbar-collapse" id="navbarsExample02">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">О нас<span class="sr-only">(current)</span></a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#">Контакты</a>
                            </li>
                        </ul>

                        <ul class="form-inline my-2 my-md-0">
                            <li class="navbar-nav mr-auto active">
                                <a class="nav-link" href="#">Демо</a>
                            </li>

                            <li class="navbar-nav mr-auto">
                                <a class="nav-link" href="#">Войти <span class="sr-only">(current)</span></a>
                            </li>
                        </ul>
                    </div>
                </nav>