{% load static %}
<!DOCTYPE html>
<html xml:lang="ru" lang="ru">
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ei=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="keywords" content="Business intelligence, Data Modeling, Statistics, Data Analytics,
        Big Data, Artificial Intelligence, Data Wrangling, Machine Learning, Data Visualization, ETL system,
        BI platform, software, explanatory data analysis, statistical data analysis, business analysis,
        predictive analysis, интеллектуальная аналитика, математическое моделирование, статистика, анализ данных,
        большие данные, искусственный интеллект, управление данными, машинное обучение, визуализация данных,
        ETL-система, BI-платформа, платформа интеллектуальной аналитики, программное обеспечение,
        исследовательский анализ данных, статистический анализ данных, анализ бизнес-показателей,
        предиктивный анализ">
        <meta name="description" content="Платформа интеллектуальной аналитики – специализированное программное
        обеспечение для решения аналитических задач">

        <title>{% block title %}Платформа интеллектуальной аналитики{% endblock %}</title>
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand navbar-dark bg-dark">
                <a href="https://dilibrium.ru/" style="margin-right: 0.5%" target="_blank">
                    <img src="{% static '/img/logo_light.png' %}"
                         width="33px"
                         height="33px">
                </a>

                <a class="navbar-brand" href="#">Always expand</a>

                <div class="collapse navbar-collapse" id="navbarsExample02">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                    </ul>

                    <ul class="form-inline my-2 my-md-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Войти <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        {% block content %}{% endblock %}

    </body>

</html>